#map {
    height: 300px;
    background-color: #ccc;
}

#restaurant-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(15px, auto);
    justify-items: stretch;
    align-items: center;
    grid-template-areas: 
        "rn rn"
        "ri rh"
        "ra rh"
        "rc rc"
}

@media(max-width: 768px) {
    #restaurant-container {
        display: grid;
        grid-gap: 5px;
        justify-items: stretch;
        align-items: stretch;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(15px, auto);
        grid-template-areas: 
            "rn"
            "ri"
            "ra"
            "rh"
            "rc"
    }
}

#footer {
    bottom: 0;
    position: absolute;
}

#restaurant-hours {
    grid-area: rh;
}

#restaurant-name {
    grid-area: rn;
    color: #f18200;
    font-family: Arial, sans-serif;
    font-size: 20pt;
    font-weight: 200;
    letter-spacing: 0;
    text-transform: uppercase;
    line-height: .9;
    text-align: center;
}

#restaurant-img {
    grid-area: ri;
    height: auto;
    width: 100%;
    max-width: 512px;
}

#restaurant-address {
    grid-area: ra;
    font-size: 12pt;
    margin: 10px 0px;
}

#restaurant-cuisine {
    grid-area: rc;
    background-color: #333;
    color: #ddd;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 20px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
}

#restaurant-container,
#reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 15px;
}

#reviews-container {
    padding: 30px 40px 80px;
}

#reviews-container h2 {
    color: #f58500;
    font-size: 24pt;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt;
}

#reviews-list {
    margin: 0;
    padding: 0;
}

#reviews-list li {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
    margin: 0 0 30px;
    overflow: hidden;
    padding: 0 20px 20px;
    position: relative;
}

#reviews-list li p {
    margin: 0 0 10px;
}

#restaurant-hours td {
    color: #666;
}